<h1>
  Reservation
</h1>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-danger" [routerLink]="['/']">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link text-info"
          href="javascript:void(0)"
          (click)="this.boatAdd()"
          >Add Reservation <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="form-group">
  <label>Boat Type</label>
  <select id="BoatType" class="form-control">
    <option *ngFor="let cat of typech" [ngValue]="type">{{ cat }}</option>
  </select>
  <button (click)="changeType()">submit</button>
</div>
<div class="col" *ngIf="this.addboat">
  <h2>Add Reservation</h2>
  <div class="container">
    <form [formGroup]="addForm" (submit)="onFormSubmit()">
      <div class="form-group">
        <label>Number Of Person</label>
        <input
          placeholder=""
          class="form-control"
          type="text"
          formControlName="numberOfPerson"
        />
      </div>
      <div class="form-group">
        <label>Start Date</label>
        <input
          placeholder=""
          class="form-control"
          type="text"
          formControlName="startDate"
        />
      </div>
      <div class="form-group">
        <label>End Date</label>
        <input
          placeholder=""
          class="form-control"
          type="text"
          formControlName="endDate"
        />
      </div>
      <div class="form-group">
        <label>Guest Name</label>
        <select formControlName="guest" class="form-control">
          <option *ngFor="let cat of guest" [ngValue]="cat">
            {{ cat.firstName }}&nbsp;{{ cat.lastName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Boat</label>
        <select formControlName="boats" class="form-control">
          <option *ngFor="let cat of boats" [ngValue]="cat">
            <p>Seats</p>
            {{ cat.numberOfSeats }}&nbsp;
            <p>Number</p>
            {{ cat.bootNumber }}&nbsp;
            <p>price</p>
            {{ cat.price }}
          </option>
        </select>
      </div>
      <br />
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="addForm?.invalid"
      >
        Submit
      </button>
      <br />
      <br />
      <div class="row" *ngIf="showMs" style="text-align: center">
        <div class="col-xs-12" style="display:inline-block ">
          <p class="alert alert-success">
            <strong>Your modification has been applied successfully!</strong>
          </p>

          <button class="btn btn-primary btn-sm" (click)="showMessage()">
            close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
